#(project
  (#(meta
     (#(name lfepgtools)
      #(description "epgsql/pgapp utilities written in LFE")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Library" "SQL" "Server"))
      #(maintainers
        ((#(name "Michael J. Forster") #(email "mike@forsterfamily.ca"))))
      #(repos
        (#(github "michaeljforster/lfepgtools")))))
   #(app
     (#(mod #(lfepgtools ()))))))
